<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guessr</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/style.css">
</head>
<header>
    <div style="display: flex; justify-content:end; align-items:end; margin-top:10px; margin-right:10px;">
        <button onclick="showinfo()" id="instruction-button">How to Play</button>
    </div>
</header>